{% extends 'layout.html' %}

{% block title %} Add A New Restaurant {% endblock %}

{% block headerButtons %}
	<a href="{{url_for('homepageRoute')}}">
		<div class="headerButton">Home</div>
	</a>
{% endblock %}

{% block body %}
	<div>
		<form action="{{url_for('restaurantAddRoute')}}" method="post">
			<label>
				Name Of Restaurant
				<input type="text" name="name">
			</label>
			<br>
			<label>
				Locality
				<input type="text" name="location">
			</label>
			<br>
			

			<label>
				Description
				<textarea type="text" name="description"></textarea>
			</label>
			<br>
			
			<br>
			<br>

			<input type="submit" value="Add Restaurant">
			<a href="{{url_for('homepageRoute')}}">Cancel</a>
		</form>
	</div>
{% endblock %}