{% extends 'layout.html' %}

{% block title %}Find Great Restaurants{% endblock %}

{% block headerButtons %}
	<a href="{{url_for('restaurantAddRoute')}}">
		<div class="headerButton">Add Restaurant</div>
	</a>
{% endblock %}

{% block body %}

	<div class="home">
		{% for restaurant in restaurants %}
		<a href="{{url_for('restaurantRoute', restaurant_id = restaurant.id)}}">
		<div class="card">
			<h2>{{restaurant.name}}</h2>
			<i>{{restaurant.locality}}</i>
			<br>
			<br>
			<p>{{restaurant.description}}</p>
			<br>
			{% if user_id == restaurant.user_id %}
			<div class="floatRight">
				<a href="{{url_for('restaurantEditRoute', restaurant_id = restaurant.id)}}">
					<div class="button">Edit</div></a>
				<a href="{{ url_for('restaurantDeleteRoute', restaurant_id=restaurant.id) }}">
					<div class="button">Delete</div>
				</a>
			</div>
			{% endif %}
		</div>
		</a>
		{% endfor %}
	</div>

{% endblock %}