<!DOCTYPE html>
<html>
	<head>
		<title>FoodoMenuo || {% block title %} {% endblock %}</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		{% block headers %}{% endblock %}

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
	</head>
	<body>
		<header class="default_primary_color">
			<a href="{{url_for('homepageRoute')}}">
				<div class="logo">FoodoMenuo</div>
			</a>
			<div class="headerButtonsHolder text_primary_color">
				{% if not user_id %}
				<a href="{{url_for('showLogin')}}">
					<div class="headerButton">Login</div>
				</a>
				{% endif %}
				{% if user_id%}
					<a href="{{url_for('gdisconnect')}}">
						<div class="headerButton">Logout</div>
					</a>
				{% endif %}
				{% block headerButtons %}{% endblock %}
			</div>
		</header>
		{% with messages = get_flashed_messages()%}
			{% if messages %}
				{% for message in messages %}
					<div class="message">{{message}}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<div class="body">
			{% block body %}{% endblock %}
		</div>
		<footer class="accent_color">
			
		</footer>
	</body>
</html>