{% extends 'layout.html' %}

{% block title %} Login To FoodoMenuo {% endblock %}

{% block headers %}
	<script src="//apis.google.com/js/platform.js?onload=start"> </script>

	<script type="text/javascript">
		function signInCallback(authResult) {
			if (authResult["code"]) {
				$("signInButton").hidden = true;

				$.ajax({
					type: "POST",
					url: "gconnect?state={{state}}",
					processData: false,
					data: authResult["code"],
					contentType: 'application/octet-stream; charset=utf-8',
					success: function(response) {
						if(response) {
							$("#response").html("Login Successfull</br>" + response + "<br>Redirecting...");
							setTimeout(function() {
          						window.location.href = "/restaurants";
         					}, 4000);
						}
						else if(authResult["error"]) {
							console.log("There was an error!" + authResult["error"]);
						}
						else {
							$("#response").html("Failed to make server side call! Check your internet connection!");
						}
					}
				})

			}
		}

		function sendTokenToServer() {
			var access_token = FB.getAuthResponse()["accessToken"];
			console.log("Fetching your access token...");
			console.log(access_token);
			$.ajax({
				type: "POST",
				url: "/fbconnect?state={{state}}",
				processData: false,
				data: access_token,
				contentType: "application/octet-stream; charset=utf-8",
				success: function(result) {
					if(result) {
						$("#result").html("Login Successfull!<br>" + result + "<br> Redirecting..." );
						setTimeout(function() {
          					window.location.href = "/restaurants";
         				}, 4000);
					}
					else if(authResult["error"]) {
						console.log("There was an error!" + result["error"]);
					}
					else {
						$("#response").html("Failed to make server side call! Check your internet connection!");
					}
				}
			})
		}
	</script>
{% endblock %}

{% block headerButtons %}
{% endblock %}

{% block body %}
	<script>
	  	window.fbAsyncInit = function() {
	   		FB.init({
	   		  	appId      : '1684286661584652',
	   		  	cookie     : true,
	   		  	xfbml      : true,
	   		  	version    : 'v2.8'
	   		});
	   		FB.AppEvents.logPageView();   
	  	};
	
	  	(function(d, s, id){
	     	var js, fjs = d.getElementsByTagName(s)[0];
	     	if (d.getElementById(id)) {return;}
	     	js = d.createElement(s); js.id = id;
	     	js.src = "//connect.facebook.net/en_US/sdk.js";
	     	fjs.parentNode.insertBefore(js, fjs);
	   	}(document, 'script', 'facebook-jssdk'));
	</script>

	<div class="card">
		<h2>Login Using:</h2>
		<div id="signInButton">
          	<span class="g-signin"
        	    data-scope="openid email"
        	    data-clientid="782771806612-7u84sa1hse9e4bau6gdae112ntpm557m.apps.googleusercontent.com"
        	    data-redirecturi="postmessage"
        	    data-accesstype="offline"
        	    data-cookiepolicy="single_host_origin"
        	    data-callback="signInCallback"
        	    data-approvalprompt="force">
        	</span>
        </div>

        <!-- <button class="btn btn-default" id="new-menu-item">
        	<span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Login With Facebook
        	<a href="javascript:sendTokenToServer();">Login With Facebook</a>
        </button> -->
        <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();"></fb:login-button>
        <div id="response"></div>
	</div>


	
{% endblock %}