{% extends 'layout.html' %}

{% block title %} Add new item to {{ restaurant.name }} {% endblock %}

{% block headerButtons %}
	<a href="{{url_for('homepageRoute')}}">
		<div class="headerButton">Home</div>
	</a>
{% endblock %}

{% block body %}
<h2>Add New Item to {{restaurant.name}}</h2>
<form method="post">
	<label>
		Item Name
		<input type="text" name="name">
	</label>
	<br>
	<label>
		Item Price
		<input type="text" name="price">
	</label>
	<br>
	<label>
		Item course
		<input type="text" name="course">
	</label>
	<br>
	<label>
		Item Description
		<textarea name="description"></textarea>
	</label>
	<br><br><br>

	<input type="submit" name="Add Menu Item">
	<a href="{{url_for('restaurantRoute', restaurant_id = restaurant.id|int)}}">Cancel</a>
</form>
{% endblock %}