{% extends 'layout.html' %}

{% block title %} {{restaurant.name}}'s Details{% endblock %}

{% block headerButtons %}
	<a href="{{url_for('restaurantEditRoute', restaurant_id=restaurant.id)}}">
		<div class="headerButton">Edit Restaurant</div>
	</a>
	<a href="{{url_for('restaurantDeleteRoute', restaurant_id=restaurant.id)}}">
		<div class="headerButton">Delete Restaurant</div>
	</a>
{% endblock %}

{% block body %}
	<div class="home">
		<div style="float: right;">
			<a href="{{url_for('menuItemAddRoute', restaurant_id=restaurant.id)}}">
				<div class="button">Add New Item</div>
			</a>
		</div>
		<h2 style="margin-bottom: 0px;">{{restaurant.name}}</h2>
		<i>{{restaurant.locality}}</i>
		<p>{{restaurant.description}}</p>

		<div class="menu">
			{% for item in items %}
				<div class="card">
					<h3>{{item.name}}</h3>
					<p>{{item.description}}</p>
					<div>
						<div><strong>Price:</strong> ${{item.price}}</div>
						<div><strong>Course:</strong> {{ item.course }}</div>
					</div>
					<div class="floatRight">
						<a href="{{url_for('menuItemEditRoute', restaurant_id=restaurant.id, menu_id=item.id )}}">
							<div class="button">Edit Item</div>
						</a>
						<a href="{{url_for('menuItemDeleteRoute', restaurant_id=restaurant.id, menu_id=item.id )}}">
							<div class="button">Delete Item</div>
						</a>
					</div>
				</div>
			{% endfor %}

			
		</div>
	</div>
{% endblock %}